body{
    font-family: sans-serif;
    margin: 0 auto;
}
.menu-item {
    display: inline-block;
    margin-right: 72px;
}

.menu-link {
    color: #FF0000;
    text-decoration: none;
font-weight: 700;
}

.menu {
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    text-align: center;
}
.image{
    width: 100%;
    height: 789px;
}
.title{
    text-align: center;
    margin-top: 49px;
    margin-bottom: 38px;
    color:#373737;
}
.text{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 1145px;
    color: #373737;
}
.btn{
     text-align: center;
 }
.button {
    margin-top: 84px;
    margin-bottom: 59px;
    background: #FF0000;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 42.5px;
    padding-right: 43.5px;
    font-weight: 700;
    border-radius: 4px;

}
.link{
    color: #FFFFFF;
    text-decoration: none;
}
.footer{
    text-align: right;
    margin-top: 82px;
    margin-bottom: 29px;
    color: #373737;
    font-weight: 700;
    font-family: sans-serif;
}

